In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [4]:
df.drop(['Unnamed: 0'], inplace = True, axis =1)

In [5]:
df.columns

Index(['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [6]:
df.columns = ['id', 'age', 'title', 'review', 'rating',
       'recommended', 'pos_feedback_count', 'division',
       'department', 'class']

In [7]:
df.head()

,id,age,title,review,rating,recommended,pos_feedback_count,division,department,class
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [8]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,23486,NaN,NaN,NaN,918.119,203.299,0,861,936,1078,1205
age,23486,NaN,NaN,NaN,43.1985,12.2795,18,34,41,52,99
title,19676,13993,Love it!,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review,22641,22634,Perfect fit and i've gotten so many compliment...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rating,23486,NaN,NaN,NaN,4.19603,1.11003,1,4,5,5,5
recommended,23486,NaN,NaN,NaN,0.822362,0.382216,0,1,1,1,1
pos_feedback_count,23486,NaN,NaN,NaN,2.53594,5.7022,0,0,1,3,122
division,23472,3,General,13850,NaN,NaN,NaN,NaN,NaN,NaN,NaN
department,23472,6,Tops,10468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
class,23472,20,Dresses,6319,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Univariate Analysis

In [ ]:
df.plot()

In [ ]:
#df['age'].value_counts()

In [ ]:
sns.countplot(x = 'rating', data = df)

In [ ]:
df.columns

In [ ]:
plt.figure(figsize = (18, 8))
sns.countplot(x = 'pos_feedback_count', data = df)
#plt.xticks(rotation=45)

In [ ]:
#plt.figure(figsize = (10, 8))
sns.countplot(x = 'department', data = df)

In [ ]:
plt.figure(figsize = (10, 8))
sns.countplot(x = 'class', data = df)
plt.xticks(rotation=45)

Bivariete analysis

In [ ]:
plt.figure(figsize = (8,8))
sns.heatmap(df.corr(),annot= True, cmap="Blues")

\Recommandations and ratings are highly corellated

In [ ]:
sns.clustermap(df.corr(),annot= True, cmap="Blues")

Rating and review

In [ ]:
#sns.pairplot(df, kind="scatter")

In [ ]:
sns.factorplot(x = 'recommended', y = 'rating',data = df)

In [ ]:
df.columns

In [ ]:
#sns.swarmplot(x = 'age', y= 'rating', data = df)

In [ ]:
#df['pos_feedback_count'].value_counts(sort = False)

In [ ]:
sns.violinplot(x= 'rating', y  = 'pos_feedback_count', data = df)

There is Negitive correlation between 'pos_feedback_count' and 'rating'
So,let us better ignore the 'pos_feedback_count'

In [ ]:
df.columns

In [ ]:
#sns.boxplot(x= 'rating', y  = 'pos_feedback_count', data = df)

In [ ]:
df.columns

In [ ]:
#sns.swarmplot(x= 'rating', y = 'department', data = df, hue="division")

In [ ]:

plt.figure(figsize = (10,10))
sns.boxplot(x= 'rating', y = 'department', data = df)

In [ ]:
df.columns

we will go to the preprocessing

In [ ]:
df['rating'].value_counts()

In [ ]:
'''
rank = ['1', '2']
df['rat'] = df.rating.isin(rank).map({True: '1'})
rank = ['3']
df['rat'] = df.rating.isin(rank).map({True: '2'})
rank = ['4', '5']
df['rat'] = df.rating.isin(rank).map({True: '3'})
'''

In [ ]:
#df['rating'] = df['rating'].map({['1','2']: 1, ['3']: 2, ['4','5']: 3})
#replace_values = {'1' : 1, '2' : 1, '3' : 2 , '4' : 3, '5' : 3} 
#replace_values = {['1' ,'2'] : 1, ['3'] : 2 , ['4' ,'5'] : 3} 

#df = df.replace({"rating": replace_values})   
#df[df.rating == 2].replace()
df['rating'] = df['rating'].map({'1': 1, '2': 1,'3' : 2, '4':3, '5': 3})

In [ ]:
df['rating']

rating has transformed into
1: Below Average
2: Average
3: Good an recommanded

In [ ]:
#df['rat'].value_counts()